<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Azure" providerName="System.Data.SqlClient" connectionString="Server=tcp:apv8jive40.database.windows.net,1433;Database=team3-to8-carService;User ID=michael@apv8jive40;Password=Ditisonzedatabase!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_UserService" />
        <binding name="BasicHttpBinding_UserService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://userservice.devworks.nl/UserService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_UserService"
        contract="UserService.UserService" name="BasicHttpBinding_UserService" />
      <endpoint address="http://userservice.devworks.nl/UserService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_UserService1"
        contract="team2.UserService" name="BasicHttpBinding_UserService1" />
    </client>
    <services>
      <service name="CarService.WebService">
        <endpoint address="" binding="basicHttpBinding" contract="CarService.IWebService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CarService/WebService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>